In [1]:
# !pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=80efe6d5688c50458f12ea2176a6e5142ca07eef64bc4d8fa5153c03a6cce99d
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
import pyspark
import pandas as pd

In [4]:
pd.read_csv('titanic.csv')

,pclass,survived,sex,age,sibsp,parch,fare,cabin,embarked,title
0,1,1,female,29.0000,0,0,211.3375,B5,S,Miss
1,1,1,male,0.9167,1,2,151.5500,C22,S,Master
2,1,0,female,2.0000,1,2,151.5500,C22,S,Miss
3,1,0,male,30.0000,1,2,151.5500,C22,S,Mr
4,1,0,female,25.0000,1,2,151.5500,C22,S,Mrs
...,...,...,...,...,...,...,...,...,...,...
1304,3,0,female,14.5000,1,0,14.4542,NaN,C,Miss
1305,3,0,female,NaN,1,0,14.4542,NaN,C,Miss
1306,3,0,male,26.5000,0,0,7.2250,NaN,C,Mr
1307,3,0,male,27.0000,0,0,7.2250,NaN,C,Mr
1308,3,0,male,29.0000,0,0,7.8750,NaN,S,Mr

# to start working with pyspark we need to create spark session

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('titanic.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string]

In [10]:
df_pyspark.show()

+------+--------+------+------+-----+-----+--------+-----+--------+------+
|   _c0|     _c1|   _c2|   _c3|  _c4|  _c5|     _c6|  _c7|     _c8|   _c9|
+------+--------+------+------+-----+-----+--------+-----+--------+------+
|pclass|survived|   sex|   age|sibsp|parch|    fare|cabin|embarked| title|
|     1|       1|female|  29.0|    0|    0|211.3375|   B5|       S|  Miss|
|     1|       1|  male|0.9167|    1|    2|  151.55|  C22|       S|Master|
|     1|       0|female|   2.0|    1|    2|  151.55|  C22|       S|  Miss|
|     1|       0|  male|  30.0|    1|    2|  151.55|  C22|       S|    Mr|
|     1|       0|female|  25.0|    1|    2|  151.55|  C22|       S|   Mrs|
|     1|       1|  male|  48.0|    0|    0|   26.55|  E12|       S|    Mr|
|     1|       1|female|  63.0|    1|    0| 77.9583|   D7|       S|  Miss|
|     1|       0|  male|  39.0|    0|    0|     0.0|  A36|       S|    Mr|
|     1|       1|female|  53.0|    2|    0| 51.4792| C101|       S|   Mrs|
|     1|       0|  male|  71.0|    0|    0| 49.5042| NULL|       C|    Mr|
|     1|       0|  male|  47.0|    1|    0| 227.525|  C62|       C| Other|
|     1|       1|female|  18.0|    1|    0| 227.525|  C62|       C|   Mrs|
|     1|       1|female|  24.0|    0|    0|    69.3|  B35|       C| Other|
|     1|       1|female|  26.0|    0|    0|   78.85| NULL|       S|  Miss|
|     1|       1|  male|  80.0|    0|    0|    30.0|  A23|       S|    Mr|
|     1|       0|  male|  NULL|    0|    0|  25.925| NULL|       S|    Mr|
|     1|       0|  male|  24.0|    0|    1|247.5208|  B58|       C|    Mr|
|     1|       1|female|  50.0|    0|    1|247.5208|  B58|       C|   Mrs|
|     1|       1|female|  32.0|    0|    0| 76.2917|  D15|       C|  Miss|
+------+--------+------+------+-----+-----+--------+-----+--------+------+
only showing top 20 rows

In [14]:
df_pyspark = spark.read.option('header', 'true').csv('titanic.csv')
df_pyspark

DataFrame[pclass: string, survived: string, sex: string, age: string, sibsp: string, parch: string, fare: string, cabin: string, embarked: string, title: string]

In [15]:
df_pyspark.show()

+------+--------+------+------+-----+-----+--------+-----+--------+------+
|pclass|survived|   sex|   age|sibsp|parch|    fare|cabin|embarked| title|
+------+--------+------+------+-----+-----+--------+-----+--------+------+
|     1|       1|female|  29.0|    0|    0|211.3375|   B5|       S|  Miss|
|     1|       1|  male|0.9167|    1|    2|  151.55|  C22|       S|Master|
|     1|       0|female|   2.0|    1|    2|  151.55|  C22|       S|  Miss|
|     1|       0|  male|  30.0|    1|    2|  151.55|  C22|       S|    Mr|
|     1|       0|female|  25.0|    1|    2|  151.55|  C22|       S|   Mrs|
|     1|       1|  male|  48.0|    0|    0|   26.55|  E12|       S|    Mr|
|     1|       1|female|  63.0|    1|    0| 77.9583|   D7|       S|  Miss|
|     1|       0|  male|  39.0|    0|    0|     0.0|  A36|       S|    Mr|
|     1|       1|female|  53.0|    2|    0| 51.4792| C101|       S|   Mrs|
|     1|       0|  male|  71.0|    0|    0| 49.5042| NULL|       C|    Mr|
|     1|       0|  male|  47.0|    1|    0| 227.525|  C62|       C| Other|
|     1|       1|female|  18.0|    1|    0| 227.525|  C62|       C|   Mrs|
|     1|       1|female|  24.0|    0|    0|    69.3|  B35|       C| Other|
|     1|       1|female|  26.0|    0|    0|   78.85| NULL|       S|  Miss|
|     1|       1|  male|  80.0|    0|    0|    30.0|  A23|       S|    Mr|
|     1|       0|  male|  NULL|    0|    0|  25.925| NULL|       S|    Mr|
|     1|       0|  male|  24.0|    0|    1|247.5208|  B58|       C|    Mr|
|     1|       1|female|  50.0|    0|    1|247.5208|  B58|       C|   Mrs|
|     1|       1|female|  32.0|    0|    0| 76.2917|  D15|       C|  Miss|
|     1|       0|  male|  36.0|    0|    0| 75.2417|   C6|       C|    Mr|
+------+--------+------+------+-----+-----+--------+-----+--------+------+
only showing top 20 rows

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.head(3)

[Row(pclass='1', survived='1', sex='female', age='29.0', sibsp='0', parch='0', fare='211.3375', cabin='B5', embarked='S', title='Miss'),
 Row(pclass='1', survived='1', sex='male', age='0.9167', sibsp='1', parch='2', fare='151.55', cabin='C22', embarked='S', title='Master'),
 Row(pclass='1', survived='0', sex='female', age='2.0', sibsp='1', parch='2', fare='151.55', cabin='C22', embarked='S', title='Miss')]

In [19]:
df_pyspark.printSchema()  # schema of the data similar to df.info()

root
 |-- pclass: string (nullable = true)
 |-- survived: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- sibsp: string (nullable = true)
 |-- parch: string (nullable = true)
 |-- fare: string (nullable = true)
 |-- cabin: string (nullable = true)
 |-- embarked: string (nullable = true)
 |-- title: string (nullable = true)

by default its taking all value as string we need to change that.

In [21]:
df_pyspark = spark.read.option('header', 'true').option('inferSchema', 'true').csv('titanic.csv')
df_pyspark.printSchema()

root
 |-- pclass: integer (nullable = true)
 |-- survived: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sibsp: integer (nullable = true)
 |-- parch: integer (nullable = true)
 |-- fare: double (nullable = true)
 |-- cabin: string (nullable = true)
 |-- embarked: string (nullable = true)
 |-- title: string (nullable = true)

In [22]:
# or we can do it when we fist try to read file
df_pyspark = spark.read.csv('titanic.csv', header=True, inferSchema=True)
df_pyspark.printSchema()

root
 |-- pclass: integer (nullable = true)
 |-- survived: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sibsp: integer (nullable = true)
 |-- parch: integer (nullable = true)
 |-- fare: double (nullable = true)
 |-- cabin: string (nullable = true)
 |-- embarked: string (nullable = true)
 |-- title: string (nullable = true)

In [27]:
df_pyspark.dtypes # similar to pandas

[('pclass', 'int'),
 ('survived', 'int'),
 ('sex', 'string'),
 ('age', 'double'),
 ('sibsp', 'int'),
 ('parch', 'int'),
 ('fare', 'double'),
 ('cabin', 'string'),
 ('embarked', 'string'),
 ('title', 'string')]

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.columns

['pclass',
 'survived',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'cabin',
 'embarked',
 'title']

In [26]:
# getting only selected columns
df_pyspark.select(['title', 'survived']).show()

+------+--------+
| title|survived|
+------+--------+
|  Miss|       1|
|Master|       1|
|  Miss|       0|
|    Mr|       0|
|   Mrs|       0|
|    Mr|       1|
|  Miss|       1|
|    Mr|       0|
|   Mrs|       1|
|    Mr|       0|
| Other|       0|
|   Mrs|       1|
| Other|       1|
|  Miss|       1|
|    Mr|       1|
|    Mr|       0|
|    Mr|       0|
|   Mrs|       1|
|  Miss|       1|
|    Mr|       0|
+------+--------+
only showing top 20 rows

In [31]:
df_pyspark.describe().show()

+-------+------------------+-------------------+------+------------------+------------------+------------------+-----------------+-----+--------+------+
|summary|            pclass|           survived|   sex|               age|             sibsp|             parch|             fare|cabin|embarked| title|
+-------+------------------+-------------------+------+------------------+------------------+------------------+-----------------+-----+--------+------+
|  count|              1309|               1309|  1309|              1046|              1309|              1309|             1308|  295|    1307|  1309|
|   mean| 2.294881588999236| 0.3819709702062643|  NULL|  29.8811345124283|0.4988540870893812|0.3850267379679144|33.29547928134572| NULL|    NULL|  NULL|
| stddev|0.8378360189701272|0.48605517086648325|  NULL|14.413499699923596|1.0416583905961012|0.8655602753495143|51.75866823917421| NULL|    NULL|  NULL|
|    min|                 1|                  0|female|            0.1667|                 0|                 0|              0.0|  A10|       C|Master|
|    max|                 3|                  1|  male|              80.0|                 8|                 9|         512.3292|    T|       S| Other|
+-------+------------------+-------------------+------+------------------+------------------+------------------+-----------------+-----+--------+------+

In [33]:
### adding columns
df_pyspark = df_pyspark.withColumn('xyz', df_pyspark.age + df_pyspark.fare)
df_pyspark.show()

+------+--------+------+------+-----+-----+--------+-----+--------+------+------------------+
|pclass|survived|   sex|   age|sibsp|parch|    fare|cabin|embarked| title|               xyz|
+------+--------+------+------+-----+-----+--------+-----+--------+------+------------------+
|     1|       1|female|  29.0|    0|    0|211.3375|   B5|       S|  Miss|          240.3375|
|     1|       1|  male|0.9167|    1|    2|  151.55|  C22|       S|Master|          152.4667|
|     1|       0|female|   2.0|    1|    2|  151.55|  C22|       S|  Miss|            153.55|
|     1|       0|  male|  30.0|    1|    2|  151.55|  C22|       S|    Mr|            181.55|
|     1|       0|female|  25.0|    1|    2|  151.55|  C22|       S|   Mrs|            176.55|
|     1|       1|  male|  48.0|    0|    0|   26.55|  E12|       S|    Mr|             74.55|
|     1|       1|female|  63.0|    1|    0| 77.9583|   D7|       S|  Miss|          140.9583|
|     1|       0|  male|  39.0|    0|    0|     0.0|  A36|       S|    Mr|              39.0|
|     1|       1|female|  53.0|    2|    0| 51.4792| C101|       S|   Mrs|104.47919999999999|
|     1|       0|  male|  71.0|    0|    0| 49.5042| NULL|       C|    Mr|          120.5042|
|     1|       0|  male|  47.0|    1|    0| 227.525|  C62|       C| Other|           274.525|
|     1|       1|female|  18.0|    1|    0| 227.525|  C62|       C|   Mrs|           245.525|
|     1|       1|female|  24.0|    0|    0|    69.3|  B35|       C| Other|              93.3|
|     1|       1|female|  26.0|    0|    0|   78.85| NULL|       S|  Miss|            104.85|
|     1|       1|  male|  80.0|    0|    0|    30.0|  A23|       S|    Mr|             110.0|
|     1|       0|  male|  NULL|    0|    0|  25.925| NULL|       S|    Mr|              NULL|
|     1|       0|  male|  24.0|    0|    1|247.5208|  B58|       C|    Mr|          271.5208|
|     1|       1|female|  50.0|    0|    1|247.5208|  B58|       C|   Mrs|          297.5208|
|     1|       1|female|  32.0|    0|    0| 76.2917|  D15|       C|  Miss|          108.2917|
|     1|       0|  male|  36.0|    0|    0| 75.2417|   C6|       C|    Mr|          111.2417|
+------+--------+------+------+-----+-----+--------+-----+--------+------+------------------+
only showing top 20 rows

In [34]:
### dropping columns
df_pyspark = df_pyspark.drop('xyz')
df_pyspark.show()

+------+--------+------+------+-----+-----+--------+-----+--------+------+
|pclass|survived|   sex|   age|sibsp|parch|    fare|cabin|embarked| title|
+------+--------+------+------+-----+-----+--------+-----+--------+------+
|     1|       1|female|  29.0|    0|    0|211.3375|   B5|       S|  Miss|
|     1|       1|  male|0.9167|    1|    2|  151.55|  C22|       S|Master|
|     1|       0|female|   2.0|    1|    2|  151.55|  C22|       S|  Miss|
|     1|       0|  male|  30.0|    1|    2|  151.55|  C22|       S|    Mr|
|     1|       0|female|  25.0|    1|    2|  151.55|  C22|       S|   Mrs|
|     1|       1|  male|  48.0|    0|    0|   26.55|  E12|       S|    Mr|
|     1|       1|female|  63.0|    1|    0| 77.9583|   D7|       S|  Miss|
|     1|       0|  male|  39.0|    0|    0|     0.0|  A36|       S|    Mr|
|     1|       1|female|  53.0|    2|    0| 51.4792| C101|       S|   Mrs|
|     1|       0|  male|  71.0|    0|    0| 49.5042| NULL|       C|    Mr|
|     1|       0|  male|  47.0|    1|    0| 227.525|  C62|       C| Other|
|     1|       1|female|  18.0|    1|    0| 227.525|  C62|       C|   Mrs|
|     1|       1|female|  24.0|    0|    0|    69.3|  B35|       C| Other|
|     1|       1|female|  26.0|    0|    0|   78.85| NULL|       S|  Miss|
|     1|       1|  male|  80.0|    0|    0|    30.0|  A23|       S|    Mr|
|     1|       0|  male|  NULL|    0|    0|  25.925| NULL|       S|    Mr|
|     1|       0|  male|  24.0|    0|    1|247.5208|  B58|       C|    Mr|
|     1|       1|female|  50.0|    0|    1|247.5208|  B58|       C|   Mrs|
|     1|       1|female|  32.0|    0|    0| 76.2917|  D15|       C|  Miss|
|     1|       0|  male|  36.0|    0|    0| 75.2417|   C6|       C|    Mr|
+------+--------+------+------+-----+-----+--------+-----+--------+------+
only showing top 20 rows

In [35]:
### reanaming column
df_pyspark = df_pyspark.withColumnRenamed('pclass', 'class')
df_pyspark.show()

+-----+--------+------+------+-----+-----+--------+-----+--------+------+
|class|survived|   sex|   age|sibsp|parch|    fare|cabin|embarked| title|
+-----+--------+------+------+-----+-----+--------+-----+--------+------+
|    1|       1|female|  29.0|    0|    0|211.3375|   B5|       S|  Miss|
|    1|       1|  male|0.9167|    1|    2|  151.55|  C22|       S|Master|
|    1|       0|female|   2.0|    1|    2|  151.55|  C22|       S|  Miss|
|    1|       0|  male|  30.0|    1|    2|  151.55|  C22|       S|    Mr|
|    1|       0|female|  25.0|    1|    2|  151.55|  C22|       S|   Mrs|
|    1|       1|  male|  48.0|    0|    0|   26.55|  E12|       S|    Mr|
|    1|       1|female|  63.0|    1|    0| 77.9583|   D7|       S|  Miss|
|    1|       0|  male|  39.0|    0|    0|     0.0|  A36|       S|    Mr|
|    1|       1|female|  53.0|    2|    0| 51.4792| C101|       S|   Mrs|
|    1|       0|  male|  71.0|    0|    0| 49.5042| NULL|       C|    Mr|
|    1|       0|  male|  47.0|    1|    0| 227.525|  C62|       C| Other|
|    1|       1|female|  18.0|    1|    0| 227.525|  C62|       C|   Mrs|
|    1|       1|female|  24.0|    0|    0|    69.3|  B35|       C| Other|
|    1|       1|female|  26.0|    0|    0|   78.85| NULL|       S|  Miss|
|    1|       1|  male|  80.0|    0|    0|    30.0|  A23|       S|    Mr|
|    1|       0|  male|  NULL|    0|    0|  25.925| NULL|       S|    Mr|
|    1|       0|  male|  24.0|    0|    1|247.5208|  B58|       C|    Mr|
|    1|       1|female|  50.0|    0|    1|247.5208|  B58|       C|   Mrs|
|    1|       1|female|  32.0|    0|    0| 76.2917|  D15|       C|  Miss|
|    1|       0|  male|  36.0|    0|    0| 75.2417|   C6|       C|    Mr|
+-----+--------+------+------+-----+-----+--------+-----+--------+------+
only showing top 20 rows

## Handling missing values


*   Dropping columns
*   Dropping Rows
*   various parameter in dropping functionality
*   Handling Missing vlaues by Mean, Median and Mode

In [36]:
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [37]:
## dropping column easy
df_pyspark.drop('Name').show() # this is not in place so we have to update out data set variable if we want to change to happen in main

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [38]:
### removing null rows
df_pyspark.na.drop(how='any').show()
# if we change how to 'all' means it will drop null value row if all the values in row are null

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [39]:
### threshold in drop
df_pyspark.na.drop(how='any', thresh=2).show()
# threshold tell us how many null value accepted
# on our data set last row contained 3 nnull value so it was deleted

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [41]:
### subset in drop
df_pyspark.na.drop(how='any', subset=['Experience', 'Age']).show()
# only drops null from subset columns only

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
+---------+---+----------+------+

In [46]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [55]:
## filling missing value
df_pyspark.na.fill('missing value').show()
# only name has string datatype so it only filled that column we need to provide number value ot full other column

+-------------+----+----------+------+
|         Name| age|Experience|Salary|
+-------------+----+----------+------+
|        Krish|  31|        10| 30000|
|    Sudhanshu|  30|         8| 25000|
|        Sunny|  29|         4| 20000|
|         Paul|  24|         3| 20000|
|       Harsha|  21|         1| 15000|
|      Shubham|  23|         2| 18000|
|       Mahesh|NULL|      NULL| 40000|
|missing value|  34|        10| 38000|
|missing value|  36|      NULL|  NULL|
+-------------+----+----------+------+

In [56]:
df_pyspark.na.fill(0).show()
# only numerical column get filled with 0

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|     NULL| 34|        10| 38000|
|     NULL| 36|         0|     0|
+---------+---+----------+------+

### filling using imputer

In [57]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
).setStrategy("mean") # it can be median/mode

df_pyspark = imputer.fit(df_pyspark).transform(df_pyspark)
df_pyspark.show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|NULL|      NULL| 40000|         28|                 5|         40000|
|     NULL|  34|        10| 38000|         34|                10|         38000|
|     NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

## PySpark DataFrames

* filter operation
* &,|,==
* ~

In [59]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Filter Operations

In [60]:
### salary of people less or equal to 20000
df_pyspark.filter(df_pyspark.Salary <= 20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [61]:
# only selected columns based on condition
df_pyspark.filter("Salary <= 20000").select(['Name', 'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [62]:
df_pyspark.filter((df_pyspark.Salary <= 20000) & # i can checge to or using |
 (df_pyspark.Salary >= 15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [63]:
# not operation inverse condition operation
df_pyspark.filter(~(df_pyspark.Salary <= 20000)).show()
# ~ is not condition so anything above 20K will be shown

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+